server{
  server_name www.{{ item }};
  ## return 301 $scheme://{{ item }}$request_uri;
  return 301 http://{{ item }}$request_uri;
}

server{
  server_name {{ item }};
  root /var/www/{{ item }};

  index index.php index.html;
  
}