server{
  server_name www.{{ domain }};
  ## return 301 $scheme://{{ domain }}$request_uri;
  return 301 http://{{ domain }}$request_uri;
}

server{
  server_name {{ domain }};
  root /var/www/{{ domain }};

  index index.php index.html;
  
}